<a href="https://colab.research.google.com/github/Surajgupta5294/Data_Analytics_Course_-in-GFG-/blob/main/34_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loop

###1.Print the Table  from 1 to n using a for loop.

In [ ]:
n = int(input("Enter the number"))
for i in range(1,11):
  print(n,'*',1,'=',n*i)

Enter the number2
2 * 1 = 2
2 * 1 = 4
2 * 1 = 6
2 * 1 = 8
2 * 1 = 10
2 * 1 = 12
2 * 1 = 14
2 * 1 = 16
2 * 1 = 18
2 * 1 = 20

In [ ]:
n = 19
for i in range(19,191,19):
  print(i)

19
38
57
76
95
114
133
152
171
190

In [ ]:
n = 19
for i in range(n,n*10+1,n):
  print(i)

19
38
57
76
95
114
133
152
171
190

##opposite

In [ ]:
n = 19
for i in range(10,0,-1):
  print(n*i)

190
171
152
133
114
95
76
57
38
19

In [ ]:
n = 13
for i in range(n*10,n-1,-n):
  print(n*i)

1690
1521
1352
1183
1014
845
676
507
338
169

### 2.Calculate the sum of the first 100 natural numbers.

In [ ]:
sum = 0
for i in range(1, 100):
    sum += i
print("Sum:", sum)

Sum: 4950

In [ ]:
n=5
s= n*((n+1)/2)
print (s)

15.0

###3. Print the number which divisible by 5 & 7 from 1 to 100.

In [ ]:

for n in range(1,101):

  if(n%5==0) and (n%7==0):
     print(n)

35
70

### 4.Print the prime number or not.

In [ ]:
n = int(input("Enter the number "))
isprime = True

for i in range ( 2,n):
    if (n%i==0):
      isprime = False
      break
if isprime:
      print("prime")
else:
      print("not a prime")

Enter the number 20
not a prime

### 5.Count the  Prime number  from 1 to 1000.

In [ ]:
count = 0
for n in range(1,1001):
  isprime = True

  for i in range ( 2,n):
     if (n%i==0):
       isprime = False
       break
  if isprime:
    count +=1
print(count)

169

### 6.Rolling two dices how many possibility are come using Nested Loop.

In [ ]:
for i in range(1,7):
  for j in range(1,7):
      print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6

###7.If the rolling two dices  possibility of number are come using Nested Loop

In [ ]:
n = 2

for n in range(1,13):
  count = 0

  for i in range(1,7):
    for j in range(1,7):
        if i + j  == n:
          count += 1

  print(n,":", str(round((count/36)*100,2)) + '%')

1 : 0.0%
2 : 2.78%
3 : 5.56%
4 : 8.33%
5 : 11.11%
6 : 13.89%
7 : 16.67%
8 : 13.89%
9 : 11.11%
10 : 8.33%
11 : 5.56%
12 : 2.78%

### 8.Print each character of a string using a for loop.

In [ ]:
text = "Suraj Gupta"
for char in  text :
  print(char)

S
u
r
a
j

G
u
p
t
a

 ### 9.Count each character of a string using a for loop.

In [ ]:
count = 0
text = "Suraj Guptabihknkml"
for char in  text :
  count +=1
print(count)

19

###10.Find the factorial of a number using a for loop.

In [ ]:
num = int(input ("Enter the number:"))
fact = 1
for i in range(1, num + 1):
    fact *= i
print("Factorial is :",fact)

Enter the number:8
Factorial is : 40320

###11.Count the number of vowels in a string using a for loop.

In [ ]:
text = " suraj GuptaAK "
vowels = 'aeiouAEIOU'
count = 0
for char in text:
    if char in vowels:
       count +=1
print(count)

5

###12.print the  pattern (*) in right side

In [ ]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

###13. Find the vowels & Consonent in the string.

In [ ]:
text = str(input("Enter the string:"))

v = 0
c = 0

for i in text:
  if i in 'aeiouAEIOU':
    v += 1
  elif i in ' @#&^%*()&*^&%#^@':
    continue
  else:
    c += 1

print('vowels is :',v,'consonent is :',c)

Enter the string:suraj gupta
vowels is : 4 consonent is : 6