<a href="https://colab.research.google.com/github/Surajgupta5294/Data_Analytics_Course_-in-GFG-/blob/main/36_Multi_dimensionalList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data structures

### 1 List

In [ ]:
lst = []
for i in range(1,101):
  if i%2==0 or i%3==0 or i%5==0:
    lst.append(i)
print(lst)
print(sum(lst))

[2, 3, 4, 5, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98, 99, 100]
3782

In [ ]:
user_name =input("Enter the name")
name = ["suraj", "anurag", "amit","vijay","ram","ashish"]

if 'ashish' in name:
    print('yes')
else:
    print('no')

Enter the numberashish
yes

###row

In [ ]:
lst = [[1,2,3],
      [4,5,6],
      [7,8,9]]
for i in lst:
  s =0
  for j in i:
   s+=j
  print(s)

6
15
24

### column

In [ ]:
lst = [[1,2,3],
      [4,5,6],
      [7,8,9]]
for column_index in range(len(lst)):
  s = 0
  for row in lst:
    s +=row[column_index]
  print(s)

12
15
18

# digonal

In [ ]:
lst = [[1,2,3],
      [4,5,6],
      [7,8,9]]
s= 0
for i in range(len(lst)):
  s+= lst[i][i]

print(s)

15

In [ ]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9]]
s=0
for i in range(len(lst)):
  for j in range(len(lst[i])):
    if i+j== len(lst)-1 or i==j  :
      s+= (lst[i][j])
print(s)

25

## Adding two matrix

In [ ]:
A = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

B = [[9, 2, 7],
     [6, 5, 2],
     [3, 2, 1]]


for i in range(len(A)):
    for j in range(len(A[i])):
        print( A[i][j] + B[i][j])

10
4
10
10
10
8
10
10
10

In [ ]:
A = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

B = [[9, 8, 7],
     [6, 5, 4],
     [3, 2, 1]]

result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]


for i in range(len(A)):
    for j in range(len(A[i])):
        result[i][j] = A[i][j] + B[i][j]


for r in result:
    print(r)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

## Subtracting Two matrix

In [ ]:
A = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

B = [[9, 8, 7],
     [6, 5, 4],
     [3, 2, 1]]

result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]


for i in range(len(A)):
    for j in range(len(A[i])):
        result[i][j] = A[i][j] - B[i][j]


for r in result:
    print(r)

[-8, -6, -4]
[-2, 0, 2]
[4, 6, 8]

## Multiplication of Row * Row

In [ ]:
A = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

B = [[9, 8, 7],
     [6, 5, 4],
     [3, 2, 1]]

result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]


for i in range(len(A)):
    for j in range(len(A[i])):
        result[i][j] = A[i][j] * B[i][j]


for r in result:
    print(r)

[9, 16, 21]
[24, 25, 24]
[21, 16, 9]

In [ ]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]


result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]


for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        result[i][j] = matrix[i][j] * (i+1) * (j+1)


for r in result:
    print(r)

[1, 4, 9]
[8, 20, 36]
[21, 48, 81]

#List Comprehension

In [ ]:
lst=[1,2,8,6,9,7,5]
print(lst)
lst = [i**2 for i in lst]
print(lst)

[1, 2, 8, 6, 9, 7, 5]
[1, 4, 64, 36, 81, 49, 25]

### Condition in list Comprehension

In [ ]:
even_number = [i for i in range(50) if i % 2 ==0 ]
print(even_number)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

### List Comprehension with Multiple Operations

In [ ]:
lst = [i**2 for i in range (21) if i % 2 ==0]
print(lst)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Multi- Dimensional Lists

In [ ]:
lst = [[ j for j in range (1,4)]for i in range(3)]
print(lst)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

###Flattening a Multi-Dimensional List

In [ ]:
lst = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print([j for i in lst for j in i])

[1, 2, 3, 4, 5, 6, 7, 8, 9]