<a href="https://colab.research.google.com/github/Surajgupta5294/Data_Analytics_Course_-in-GFG-/blob/main/37_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

### Initializing the Dictionaries

In [16]:
dct = {1:"Suraj", 2:"Jay", 3:"Virat", 4:"Ansh" , 5:"Divyansh"}
print(dct)

{1: 'Suraj', 2: 'Jay', 3: 'Virat', 4: 'Ansh', 5: 'Divyansh'}

### Accessing the elements

In [17]:
print(dct)
print(dct[1])
print(dct[3])
print(dct.get(1))

{1: 'Suraj', 2: 'Jay', 3: 'Virat', 4: 'Ansh', 5: 'Divyansh'}
Suraj
Virat
Suraj

### Adding and updating tha key-values pairs

In [15]:
print(dct)
dct[6]="Arjun"
print(dct)
dct[6]="Arun"
print(dct)
del dct[6]
print(dct)

{1: 'Shubham', 2: 'shivan', 3: 'Raju', 4: 'Anshu', 5: 'Divyansh'}
{1: 'Shubham', 2: 'shivan', 3: 'Raju', 4: 'Anshu', 5: 'Divyansh', 6: 'Arundati'}
{1: 'Shubham', 2: 'shivan', 3: 'Raju', 4: 'Anshu', 5: 'Divyansh', 6: 'Arundati'}
{1: 'Shubham', 2: 'shivan', 3: 'Raju', 4: 'Anshu', 5: 'Divyansh'}

### Cleaning the Dictionary

In [18]:
print(dct)
dct.clear()
print(dct)

{1: 'Suraj', 2: 'Jay', 3: 'Virat', 4: 'Ansh', 5: 'Divyansh'}
{}

### Iterating through the Dictionary

In [19]:
dct = {1:"Suraj", 2:"Jay", 3:"Virat", 4:"Ansh" , 5:"Divyansh"}
print(dct)
print(dct.keys())
print(dct.values())

for k in dct.keys():
  print(k,dct[k])

print(dct.items())
for k,v in dct.items():
  print(k,v)

{1: 'Suraj', 2: 'Jay', 3: 'Virat', 4: 'Ansh', 5: 'Divyansh'}
dict_keys([1, 2, 3, 4, 5])
dict_values(['Suraj', 'Jay', 'Virat', 'Ansh', 'Divyansh'])
1 Suraj
2 Jay
3 Virat
4 Ansh
5 Divyansh
dict_items([(1, 'Suraj'), (2, 'Jay'), (3, 'Virat'), (4, 'Ansh'), (5, 'Divyansh')])
1 Suraj
2 Jay
3 Virat
4 Ansh
5 Divyansh

### check if key is present

In [20]:
print(dct)
print(1 in dct)
print('1' in dct)

{1: 'Suraj', 2: 'Jay', 3: 'Virat', 4: 'Ansh', 5: 'Divyansh'}
True
False

### dct Updating the Dictionaries

In [21]:
dct_1 = {1:"A", 2:"B", 3:"C"}
dct_2 = {1:"a", 2:"b", 3:"c"}
print(dct_1)
print(dct_2)
dct_1.update(dct_2)
print(dct_1)
print(dct_2)

{1: 'A', 2: 'B', 3: 'C'}
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}