<a href="https://colab.research.google.com/github/Surajgupta5294/Data_Analytics_Course_-in-GFG-/blob/main/38_Multidimensional_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multidimensional_Dictionary

In [ ]:
students = {10001 : {'name': 'Suraj', 'marks' : {'english' : 42,'hindi':45, 'maths' : 36}, 'phone_no' : [9324012]},
            10002 : {'name': 'Virat', 'marks' : {'english' : 42,'hindi':45, 'maths' : 32}, 'phone_no' : [9324012,312331,123123]},
            10003 : {'name': 'Ansh' , 'marks' : {'english' : 42,'hindi':45,'maths' : 35} , 'phone_no' : [9324012]}}
print(students)

{10001: {'name': 'Suraj', 'marks': {'english': 42, 'hindi': 45, 'maths': 36}, 'phone_no': [9324012]}, 10002: {'name': 'Virat', 'marks': {'english': 42, 'hindi': 45, 'maths': 32}, 'phone_no': [9324012, 312331, 123123]}, 10003: {'name': 'Ansh', 'marks': {'english': 42, 'hindi': 45, 'maths': 35}, 'phone_no': [9324012]}}

### Accessing the Element

In [ ]:
print(students)
print(students[10001])
print(students[10003]['name'])

{10001: {'name': 'Suraj', 'marks': {'english': 42, 'hindi': 45, 'maths': 36}, 'phone_no': [9324012]}, 10002: {'name': 'Virat', 'marks': {'english': 42, 'hindi': 45, 'maths': 32}, 'phone_no': [9324012, 312331, 123123]}, 10003: {'name': 'Ansh', 'marks': {'english': 42, 'hindi': 45, 'maths': 35}, 'phone_no': [9324012]}}
{'name': 'Suraj', 'marks': {'english': 42, 'hindi': 45, 'maths': 36}, 'phone_no': [9324012]}
Ansh

### Adding

In [ ]:
print(students)
students[10004] = {'name': 'yash','marks':{'english' : 40, 'hindi': 42,'maths': 35},'phone_no':[36963266]}
print(students)

{10001: {'name': 'Suraj', 'marks': {'english': 42, 'hindi': 45, 'maths': 36}, 'phone_no': [9324012]}, 10002: {'name': 'Virat', 'marks': {'english': 42, 'hindi': 45, 'maths': 32}, 'phone_no': [9324012, 312331, 123123]}, 10003: {'name': 'Ansh', 'marks': {'english': 42, 'hindi': 45, 'maths': 35}, 'phone_no': [9324012]}}
{10001: {'name': 'Suraj', 'marks': {'english': 42, 'hindi': 45, 'maths': 36}, 'phone_no': [9324012]}, 10002: {'name': 'Virat', 'marks': {'english': 42, 'hindi': 45, 'maths': 32}, 'phone_no': [9324012, 312331, 123123]}, 10003: {'name': 'Ansh', 'marks': {'english': 42, 'hindi': 45, 'maths': 35}, 'phone_no': [9324012]}, 10004: {'name': 'yash', 'marks': {'english': 40, 'hindi': 42, 'maths': 35}, 'phone_no': [36963266]}}

### Updating

In [ ]:
print(students)
students[10004]['name']='yashiii'
print(students)

{10001: {'name': 'Suraj', 'marks': {'english': 42, 'hindi': 45, 'maths': 36}, 'phone_no': [9324012]}, 10002: {'name': 'Virat', 'marks': {'english': 42, 'hindi': 45, 'maths': 32}, 'phone_no': [9324012, 312331, 123123]}, 10003: {'name': 'Ansh', 'marks': {'english': 42, 'hindi': 45, 'maths': 35}, 'phone_no': [9324012]}, 10004: {'name': 'yash', 'marks': {'english': 40, 'hindi': 42, 'maths': 35}, 'phone_no': [36963266]}}
{10001: {'name': 'Suraj', 'marks': {'english': 42, 'hindi': 45, 'maths': 36}, 'phone_no': [9324012]}, 10002: {'name': 'Virat', 'marks': {'english': 42, 'hindi': 45, 'maths': 32}, 'phone_no': [9324012, 312331, 123123]}, 10003: {'name': 'Ansh', 'marks': {'english': 42, 'hindi': 45, 'maths': 35}, 'phone_no': [9324012]}, 10004: {'name': 'yashiii', 'marks': {'english': 40, 'hindi': 42, 'maths': 35}, 'phone_no': [36963266]}}

### Deleting

In [ ]:
print(students)
del students[10004]
print(students)

{10001: {'name': 'Suraj', 'marks': {'english': 42, 'hindi': 45, 'maths': 36}, 'phone_no': [9324012]}, 10002: {'name': 'Virat', 'marks': {'english': 42, 'hindi': 45, 'maths': 32}, 'phone_no': [9324012, 312331, 123123]}, 10003: {'name': 'Ansh', 'marks': {'english': 42, 'hindi': 45, 'maths': 35}, 'phone_no': [9324012]}, 10004: {'name': 'yashiii', 'marks': {'english': 40, 'hindi': 42, 'maths': 35}, 'phone_no': [36963266]}}
{10001: {'name': 'Suraj', 'marks': {'english': 42, 'hindi': 45, 'maths': 36}, 'phone_no': [9324012]}, 10002: {'name': 'Virat', 'marks': {'english': 42, 'hindi': 45, 'maths': 32}, 'phone_no': [9324012, 312331, 123123]}, 10003: {'name': 'Ansh', 'marks': {'english': 42, 'hindi': 45, 'maths': 35}, 'phone_no': [9324012]}}

### Going through the Data

In [ ]:
print(students)
for i in students.keys():
  print(i,students[i] ['name'],students[i]['phone_no'],students[i]['marks']['maths'])

{10001: {'name': 'Suraj', 'marks': {'english': 42, 'hindi': 45, 'maths': 36}, 'phone_no': [9324012]}, 10002: {'name': 'Virat', 'marks': {'english': 42, 'hindi': 45, 'maths': 32}, 'phone_no': [9324012, 312331, 123123]}, 10003: {'name': 'Ansh', 'marks': {'english': 42, 'hindi': 45, 'maths': 35}, 'phone_no': [9324012]}}
10001 Suraj [9324012] 36
10002 Virat [9324012, 312331, 123123] 32
10003 Ansh [9324012] 35

### Calculate the total & average marks

In [2]:
students = {10001 : {'name': 'Suraj', 'marks' : {'english' : 42,'hindi':45, 'maths': 46}, 'phone_no' : [9324012]},
            10002 : {'name': 'Virat', 'marks' : {'english' : 42,'hindi':45, 'maths' : 32}, 'phone_no' : [9324012,312331,123123]},
            10003 : {'name': 'Ansh' , 'marks' : {'english' : 42,'hindi':45, 'maths': 40 }, 'phone_no' : [9324012]}}

for roll_no in students.keys():

  total_marks = sum(students[roll_no]['marks'].values())
  average = round(sum(students[roll_no]['marks'].values()) / len(students[roll_no]['marks'].values()),2)

  students[roll_no]['total'] = total_marks
  students[roll_no]['average'] = average

  print('Name    : ', students[roll_no]['name'])
  print('Roll No : ', roll_no)
  print('Marks   : ', students[roll_no]['total'])
  print('Avegrage: ', students[roll_no]['average'])

  print('-'*25)

Name    :  Suraj
Roll No :  10001
Marks   :  133
Avegrage:  44.33
-------------------------
Name    :  Virat
Roll No :  10002
Marks   :  119
Avegrage:  39.67
-------------------------
Name    :  Ansh
Roll No :  10003
Marks   :  127
Avegrage:  42.33
-------------------------